body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page-container {
  width: 100%;
  max-width: 960px;
}
